body {
	background: #01589f;
}
h1 {
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 40px;
	text-align: center;
}

h2 {
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 22px;
	text-align: center;
}

p{
	padding: 12px;
	font-size:18px;
}

img {
	width: 200px;
}
label {
	text-align: center;
	font-size: 16px;
	margin-right: 5px;

}



.container-fluid {
 margin: auto;	
 width:900px;
 margin-top: 20px;
 padding: 15px;


	background: #f0dc83;
	padding: 10px;
}
.hide {
	display: none;
}

.show{
	display:	block;
}


#done-button{
	background: #8FE276;
	border-radius: 15px;
	border: solid 2px #77BC62;
	height: 50px;
	width: 200px;
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 30px;
	text-align: center;
}



#start-button{
	background: #8FE276;
	border-radius: 15px;
	border: solid 2px #77BC62;
	height: 50px;
	width: 200px;
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-bottom:300px;
}


#score{
	margin-top: 20px;
	margin-bottom:50px;
	background: #8FE276;
	border-radius: 15px 50px;
	border: solid 2px #77BC62;
	height: 200px;
	width: 300px;
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 20;
	text-align: center;
}


#timer {
	margin-top: 20px;
	padding:8px;
	background: #8FE276;
	border-radius: 15px;
	border: solid 2px #77BC62;
	height: 50px;
	width: 200px;
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 20;
	text-align: center;
}
